* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

input:focus {
    border: 0.1px solid rgba(0, 0, 0, 0.9);
    outline: none;
}

.content {
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    background-color: white;

    width: 35%;
    height: 400px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding-top: 3%;
}
.logo-content {
    flex: 1;

}
.logo-content > h1 {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 40pt;
}

.form-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}
.input-text {
    background-color: #fafafa;
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 70%;
    padding: 10px;
}
.submit-button {
    width: 75%;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.submit-button:hover {
    cursor: pointer;
}

.disabled, 
.disabled:hover {
    opacity: 0.7;
    cursor: default;
}

.or-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 10px;

}
.line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 30%;
    padding: 3.5px;
}
.or-content > small {
    border-right: 20px solid #fafafa;
    border-left: 20px solid #fafafa;
    color: rgba(0, 0, 0, 0.6);;
    font-weight: bold;
}